body,
html {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
 
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn:hover {
  box-shadow: inset 1px 5px 9px 4px rgb(254, 41, 41), 0px 0px 1px 0px black;
  padding: 10px 18px;
  background-color: #e91000;
}

/* Extra styles for the cancel button */
.cancelbtn {
  border: solid thin #ff0000, solid thin black;
  box-shadow: inset 1px 5px 9px 4px #ff0000, 0px 1px 2px 1px black;
  padding: 10px 18px;
  background-color: #ff1101;
}

.submit:hover {
  box-shadow: inset 1px 5px 9px 4px rgb(1, 1, 213), 0px 0px 1px 0px black;
  padding: 10px 18px;
  background-color: #0291ea;
}

/* Extra styles for the cancel button */
.submit {
  position: relative;
  bottom:2%;;
  border: solid thin #009dff, solid thin black;
  box-shadow: inset 1px 5px 9px 4px #038de3, 0px 1px 2px 1px black;
  padding: 10px 18px;
  background-color: #009dff;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

 

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */

  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}
 

.modal-content {
  background-color: #ffffff;
  padding: 2%;
  display: flex;
  margin: 2% auto 5% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #000000;
  box-shadow: 1px 5px 9px 4px rgba(0, 0, 0, 0.563);
  border-radius: 20px;
  width: 40%;
  height: 92%;
  /* Could be more or less, depending on screen size */
  z-index: 10;
}

@media screen and  (min-width: 320px ) and (max-width: 680px){
  html,body{
 
 
background-color: blue;
  }
.modal-content {
  width: 100%;
  margin-top: 20%;
  height: 90%;
  /* Could be more or less, depending on screen size */
  z-index: 10000;
}
    header #head-nav {   
    flex-direction: column;
    display: hidden;
  }
  .close {
height: 10px;
  }
  #social-lnk{
    display: none;
  }
.submit,.cancelbtn{
  width: 20%;
  height: 10%;
}
#login-form{
  margin-top: 20%;
  width:100% ;
  height: 100%;
}
.fixed-image{
  width: 275%;
}
.centered{

width: 575%;
}
}
 
* {
  box-sizing: border-box;
}




/* Modal Content/Box */

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;

  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 600px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

form {
  width: 55%;
  height: 100%;
  background-color: azure;
}

#head-nav {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 12%;
  color: white;
  background-color: #000000;
  border-block-end: solid thick #2200ff;
  display: flex;
  box-shadow: 2px 0px 9px 2px #000000;
  white-space: nowrap;
  z-index: 4;
}
#head-nav img{
  position: relative;
  left:16.5%;
  border: solid 2px rgb(47, 255, 0);
  box-shadow:inset   10px 10px 10px 10px rgb(0, 0, 0);
animation: iseeu 20s ease-in-out;
}
@keyframes iseeu {
  0%{left: 100%;}
  100%{left:16.5%;}
}

 
h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  font-family: "Herr Von Muellerhoff", cursive;
  letter-spacing: 0.15em;
  width: 100%;
  z-index: 10000;

}

.bck-gh1 {
  position: absolute;
  background-color: #ff0000;
  border-top: solid 10px rgb(0, 0, 92);
  border-bottom: solid 10px rgb(0, 0, 92);
  border-right: solid 10px rgb(0, 0, 92);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 75%;
  height: 20%;
  top: 51%;
  animation: seeme 5s ease-in-out;
}

@keyframes seeme {
  0% {
    display: flexbox;
    width: 0%;
  }

  100% {
    display: flexbox;
    width: 75%;
  }
}

.abt-bx {
  background-color: #ff0000;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 34%;
  height: 40%;
}
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Playwrite+DE+Grund:wght@100..400&display=swap");
.span1 {
  color: #ffffff;
  font-family: "Anton SC", sans-seriff;
 
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 2%;

  margin-left: 40%;
  margin-right: 0%;
}

 .span3,.span4,.span5{
  color: #ffffff;
  font-family: "Anton SC", sans-seriff;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  padding: 2%;
}
.span2{
position: relative;
top:40%;
color: #ffffff;
font-family: "Anton SC", sans-seriff;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 18px;
padding: 2%;

}



.span1:hover {
  border: none;
  color: #2200ff;

  cursor: pointer;
}

.span2:hover {
  color: #2200ff;

  cursor: pointer;
}

.span3:hover {
  color: #2200ff;

  cursor: pointer;
}

.span4:hover {
  color: #e5ff00;
  cursor: pointer;
}
.span5:hover {
  color: #2200ff;
  cursor: pointer;
}

.color:hover{
    
    border-radius: 50%;
box-shadow:0px 2px 2px 2px #ffffff,0px 2px 2px 2px #000000;

}

/*ICON INK / HEART / TATTOO GUN*/
.color{content: 'color'; color:#000000;animation: slide 5s  ease-in-out}
.gun{ animation:  5s  ease-in-out;}
.heart{ animation: slideleft 5s  ease-in-out  ;}
@keyframes slideright {
    0%{left: 100%;}
    100%{left:40%;left:70%;}
}
@keyframes slideleft {
    0%{left: 100%;}
    100%{left:70%; left:40%;}
}
@keyframes slide {
    0%{left: -100%;}
    100%{left:20%; left:10%;}
}

#contact-info {
  position: absolute;
  background-color: #000000;
  border-style: outset;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin: 8px;
  box-shadow: 0px 0px 4px 2px #000;
  border: solid thick rgb(255, 255, 255);
  left: 65%;
  width: 40%;
  height: 190px;
  top: -100%;
  animation: peekaboo 3s linear 2s;
}

@keyframes peekaboo {
  0% {
    display: none;
    left: -150%;
  }

  100% {
    left: 65%;
  }
}

#contact-info label {
  position: relative;
}

#social-lnk {
  position: sticky;
  color: #ffe100;
  left: 92%;
flex-wrap: nowrap;
  box-shadow: inset 2px 2px 4px 2px rgb(0, 0, 0);
  border: solid 2px #001aff;
  text-align: center;
  padding: 1% 2%;
  margin-top: 2%;
  width: 220px;
  height: 100px;
  background-color: #0a1229;
  z-index: 3;
}

.fa-x-twitter {
  position: relative;
  height: 20%;
  left: -2%;
  text-shadow: 0px 4px 2px black;
}

.fa-instagram {
  left: 10%;
  height: 20%;
  text-shadow: 0px 4px 2px black;
}

.fa-facebook {
  height: 20%;
  text-shadow: 0px 4px 2px black;
}

/*ICON HOVER TWITTER, FACEBOOK , INSTAGRAM*/

 
 
p {

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 255, 255);
}

/* Style the footer container */
footer {
  background-color: #0059ff;
  border-top: solid 4px #ff1101;
  border-left: solid 4px #ff0000;
  border-inline-end: solid 5px #050262;
  border-block-end: solid 5px #050262;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 30%;
  z-index: 100000;
  word-break: break-all;
}

/* Style the copyright text */
.copyright {
  font-size: 14px;
}

/* Style the arrow icon */
.svg-up {
  fill: #fff;
  width: 20px;
  height: 5px;
  vertical-align: middle;
}

/* Style the info and CTA lists */
ul {
  list-style: none;
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
}

/* Style the link in the "Revise with love" line */
.info a {
  color: #0fa;
  /* Green color for the link */
  text-decoration: none;
}

/* Style the CTA links */
.CTA a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: rgb(21, 0, 255);
  font-weight: 900;
  font-size: 24px;
  margin: 0%;
  font-family: "Anton SC", sans-seriff;
  background-color: #fff2f2;
  box-shadow: 0px 1px 4px 2px black;
  min-width: 190px;
  align-items: start;
  
  padding: 2px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: 90%;
}

.dropdown-content a:hover  {
  
  text-decoration: none;
}
.dropdown-content a{
    text-decoration: none;
    float: inline-start;
    margin: 2%;
    padding: 2%;
   
} 

.red-asterisk {
  color: red;
}
#container {
  left: 0%;

  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  background-color: #00000068;
  color: #ffffff;
  border: solid 2px rgb(255, 242, 0);
  font-size: 14px;
  font-weight: 600;
   
  top: 40%;
  padding: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0%;
  width: 93%;
  box-shadow: 0px 2px 12px 2px black;
  letter-spacing: 0.15em;

  text-shadow: 0px 12px 2px black;
  animation: dropdwn 5s ease-in;
}

@keyframes dropdwn {
  0% {
    top: -100%;
  }
  100% {
    top: 40%;
  }
}

#hr1 {
  color: #ccc;
  border: solid 5px white;
  height: -2%;
  background-color: #fff7f7;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #000000; /* Blue */

  border-radius: 50%;
  margin-left: 2%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#context {
  position: sticky;
  width: 100%;
  margin-top: 10%;
  margin-bottom:0 ;
  height: 280px;
  background-color: #0000006d;
  box-shadow: inset 4px 2px 10px 5px rgb(0, 0, 0);
  border-top: solid 4px blue;
  
}


 
 

.tablink {
  background-color: #001649;
  color: rgb(255, 255, 255);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  border: solid 2px black;
  font-family: "Anton SC", sans-seriff;
  border-radius: 20px;
}

.tablink:hover {
  background-color: #000e90;
  border: solid 2px black;
  box-shadow: inset 0px 1px 1px 2px white,0px 0px 2px 1px black;
  border-radius: 20px;
  font-family: "Anton SC", sans-seriff;
}

/* Style the tab content */
.tabcontent {
  color: rgb(82, 82, 82);
  display: none;
  padding: 50px;
  font-family: "Anton SC", sans-seriff;
  text-align: center;
}



 
      .parallax {
        /* The image used */
        background-image: url("workstation.jpg");
        border-bottom:sold 4px blue;
        /* Set a specific height */
        min-height: 500px; 
        color:black;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
 





 .menu-image-container {
  position: relative;
  top: 15%;
  left: 5%;
   margin: 0;

   box-shadow:0px 2px 8px 4px #000;
  display: flex;
  max-width: 50%;
  border: solid thin white;
  justify-content: space-between; /* Distribute images evenly */
}






 .text1{
  position:absolute;
   color: rgb(4, 4, 4);
   left: 35%;
   top:80%;
   width: 58%;
   font-family: "Herr Von Muellerhoff", cursive;
  letter-spacing: 0.15em;
   font-optical-sizing: auto;
   font-weight: 300;
  margin: 2%;
  text-align: center;
 }
 .text1 h1{
  color: #000;
 }
 .fixed-image {
  
  background-image: url("workstation.jpg");
  border-block-end:sold 4px blue;
   min-block-size: 420px; 
  color:black; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text{
  color: rgb(255, 255, 255);
  
     font-family: "Anton SC", sans-serif;
   max-inline-size: 75%;
   max-block-size: 65%;
  background-color: #0000009e;
  text-align: center;
  font-style: normal;
  position: relative;
  margin: 10%;

}

  h1{ font-size: 100px; font-style: italic; font-weight: 500;  font-family: "Herr Von Muellerhoff", cursive;  text-shadow: 0px 5px 2px rgb(0, 60, 255);}
  
 
  h2{ font-size: 22px;  font-weight: 300; text-align: center;}
  
  h3{font-size: 22px;font-style: italic;font-weight: 200;text-align: center;}
  
  p{font-size: 20px;font-style: italic;font-weight: 200;margin: 0%;}
  
  a{text-decoration: underline yellow 2px;font-size: 20px; font-weight: 200;font-family: "Anton SC", sans-serif;}
  h4,h2,h3,h5{
    font-family: "Anton SC", sans-seriff;


}
#login-form{
height: 60%;
width: 40%;

}
.log-btn{position: relative;left: 29%;}
#main{
  image-rendering: optimizeQuality;
  width: 480px;
  height:480px;
  border: 4mm ridge rgb(242, 255, 0);
  background-color: #000e90;
  box-shadow: 0px 2px 9px 1px black;
  display: flex;
  font-weight: 600;
  flex-wrap: wrap;
   position: relative;
   left: 2%;
  justify-content: flex-start;
bottom: 5%;
} #main img{
  width: 200px;
  height: 200px;
  margin: 2%;
  padding: 2%;
}
